.btn {
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 12px 24px;
    border-radius: 2px;
    transition: background-color 0.3s, transform 0.2s;

    &:hover {
        transform: scale(1.05);
    }

    &:focus {
        outline: none;
    }
}

.square-btn {
    width: 200px;
}

.rounded-btn {
    width: 120px;
    border-radius: 10px;
}

.easy {
    background-color: #2ecc71;

    &:hover {
        background-color: darken(#2ecc71, 10%);
    }

    &:active {
        background-color: darken(#2ecc71, 20%);
        transform: scale(0.95);
    }

    &:focus {
        box-shadow: 0 0 5px rgba(46, 204, 113, 0.6);
    }
}

.medium {
    background-color: #f39c12;

    &:hover {
        background-color: darken(#f39c12, 10%);
    }

    &:active {
        background-color: darken(#f39c12, 20%);
        transform: scale(0.95);
    }

    &:focus {
        box-shadow: 0 0 5px rgba(243, 156, 18, 0.6);
    }
}

.hard {
    background-color: #e74c3c;

    &:hover {
        background-color: darken(#e74c3c, 10%);
    }

    &:active {
        background-color: darken(#e74c3c, 20%);
        transform: scale(0.95);
    }

    &:focus {
        box-shadow: 0 0 5px rgba(231, 76, 60, 0.6);
    }
}

.retry {
    color: black;
    background-color: #e74c3c;
}

.restart {
    background-color: #2ecc71;
}

.menu {
    background-color: #f0ad4e;
}
